{% extends "bootstrap/base.html" %}

{% block content %}
{% block javascript %}
  <script src="{{ url_for('static', filename='scripts/history.js')}}"></script>
{% endblock %}
{% with page="history"%}
{% include "customer/nav.html" %}
{% endwith %}
<body style="padding-top: 4.5rem">
  <div class="container">
    {% if user_bookings != None and user_bookings|length > 0 %}
    <h5>Filter bookings</h5>
    <div class="row mb-3">
      <div class="col-md-3">
        <label for="status-filter">Booking status</label>
        <select class="custom-select" name="status" id="status-filter" onchange="filter()">
        <option value="All" selected>All</option>
        <option value="Booked">Booked</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="car-search">Car Rego</label>
        <input class="form-control" type="search" placeholder="Rego" id="car-search" oninput="filter()">
      </div>
    </div>
      <div class="card-columns">
        {% for booking in user_bookings %}
          <div class="card bg-light mb-4 booking">
            <div class="card-body">
              <h5 class="card-title car-rego">Rego - {{booking.car.car_id}}</h5>
              <p class="card-text">Car: {{booking.car.model.make}} {{booking.car.model.model}}, {{booking.car.model.year}}</p>
              <p class="card-text">Start date: {{booking.start}}</p>
              <p class="card-text">End date: {{booking.end}}</p>
              <p class="card-text">Cost: ${{booking.car.cph}} per hour
              <br/><small class="text-muted">Total cost: ${{booking.cost}}</small>
              </p>
              {% set status = {0: "Booked", 1: "Completed", 2: "Cancelled"}[ booking.completed]|default("Missing") -%}
              <p class="card-text status-value">Status: {{status}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-center font-italic align-middle">No bookings found</h5>
          <p class="card-text text-center"><small>No booking history found in database</small></p>
        </div>
      </div>
    {% endif %}
  </div>
</body>

{% endblock %}
