#capacity-dropdown {
  position: relative;
  display: inline-block;
}

#cost-dropdown {
  position: relative;
  display: inline-block;
}

#load-index-dropdown {
  position: relative;
  display: inline-block;
}

#clearance-dropdown {
  position: relative;
  display: inline-block;
}

#weight-dropdown {
  position: relative;
  display: inline-block;
}

#length-dropdown {
  position: relative;
  display: inline-block;
}

#engine-capacity-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}
