{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% endblock %}}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
{% block javascript %}
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(
      document.getElementById('map'),
      {
        zoom:8,
        center:{lat:-38,lng:145}
      }
    );
    let repairs = {{ reports|safe }}
    console.log(repairs)
    let infoWindow = new google.maps.InfoWindow();
    let link = "https://www.google.com/maps/search/?api=1&query=";
    for (let i = 0; i < repairs.length; i++) {
      let repair = repairs[i];
      let lat = repair.car.lat;
      let lng = repair.car.lng;
      let badge_class
      if (repair.priority === 'LOW') {
        badge_class = "badge-info";
      } else if(repair.priority === 'MEDIUM') {
        badge_class = "badge-warning text-light";
      } else{
        badge_class = "badge-danger";
      }

      let content = `
      <h5 class="card-title">${repair.car_id}</h5>
      <p>${repair.car.model.year} ${repair.car.model.make} ${repair.car.model.model}<br>
      <small class="text-muted">
      Details: ${repair.details}
      <br>
        <a href="${link}${lat},${lng}" target="_blank"><i>directions</i></a>
      </small>
      </p>
      <p><span style='position:absolute; top: 16px; right: 20px;' class='status-value badge ${badge_class}'>${repair.priority}</span></p>
      `;

      let marker = new google.maps.Marker(
        {
          position: new google.maps.LatLng(lat, lng),
          map: map
        }
      );

      google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
        return function() {
          infoWindow.setContent(content);
          infoWindow.open(map, marker)
        }
      })(marker, i));
    }
  }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{maps_key}}&callback=initMap">
</script>
{% endblock %}
{% with page="main", type="ENGINEER"%}
{% include "employee/nav.html" %}
{% endwith %}
<script src="{{ url_for('static', filename='scripts/main.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/6b539ad364.js" crossorigin="anonymous"></script>
<body style="padding-top: 4.5rem">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-light mb-4 employee">
          <div class="card-header">
            Profile
          </div>
          <div class="card-img-top d-flex justify-content-center" style="padding-top: 5px">
            <i class="fas fa-user fa-7x"></i>
          </div>
          <div class="card-body">
            <h5>{{user.f_name}} {{user.l_name}}</h5>
            <p class="mb-0">@{{user.username}}</p>
            <p class="mt-2 mb-0">{{user.email}}</p>
          </div>
        </div>
        {% if reports != None and reports|length > 0 %}
        <div class="card bg-light">
          <div class="card-header">
            Requested repairs
          </div>
          <div style="overflow: scroll; max-height: 281px;" class="card-body">
            {% for report in reports %}
            <div class="card bg-light mb-4 report">
                <div class="card-body">
                  <h5 class="card-title car-rego">Vehicle: {{report.car.car_id}}</h5>
                  <p class="card-text">{{report.car.model.make}} {{report.car.model.model}}, {{report.car.model.year}}</p>
                  <p class="card-text">Reported on {{report.report_date}}</p>
                  <hr>
                  <h5 class="card-title">Details</h5>
                  <p class="card-text">{{report.details}}</p>
                  {% set badge_class = {'LOW': "badge-info", 'MEDIUM': "badge-warning text-light", 'HIGH': "badge-danger"}[ report.priority]|default("badge-info") -%}
                  <h5><span style="position:absolute; top: 20px; right: 20px;" class="status-value badge {{badge_class}}">{{report.priority}}</span></h5>
                </div>
            </div>
          {% endfor %}
          </div>
        </div>
        {% else %}
        <div class="card bg-light">
          <div class="card-body">
            <h5 class="card-title text-center font-italic align-middle">No reports found</h5>
            <p class="card-text text-center"><small>No requests for repairs were found in the database</small></p>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card bg-light mt-3 mt-md-0">
          <div class="card-header">
            Map
          </div>
          <div id="map" class="card-body" style="padding:0;"></div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}