{% extends "bootstrap/base.html" %}

{% block content %}
{% block javascript %}
  <script src="{{url_for('static', filename='scripts/filter.js')}}"></script>
{% endblock %}
{% with page="history", type="ADMIN"%}
{% include "employee/nav.html" %}
{% endwith %}
<body style="padding-top: 4.5rem">
  <div class="container">
    {% if bookings != None and bookings|length > 0 %}
    <h5>Filter all rentals</h5>
    <div class="row mb-3">
      <div class="col-md-3">
        <label for="status-filter">Booking status</label>
        <select class="custom-select" name="status" id="status-filter" onchange="filterHistory()">
        <option value="All" selected>All</option>
        <option value="Booked">Booked</option>
        <option value="Completed">Completed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
      </div>
      <div class="col-md-3">
        <label for="car-search">Car Rego</label>
        <input class="form-control" type="search" placeholder="Rego" id="car-search" oninput="filterHistory()">
      </div>
      <div class="col-md-3">
        <label for="user-filter">User</label>
        <input class="form-control" type="search" placeholder="Filter users" id="user-filter" oninput="filterHistory()">
      </div>
    </div>
      <div class="card-columns">
        {% for booking in bookings %}
          <div class="card bg-light mb-4 booking">
            <div class="card-body">
              <h5 class="card-title car-rego">Vehicle - {{booking.car.car_id}}</h5>
              <p class="card-text">{{booking.car.model.make}} {{booking.car.model.model}}, {{booking.car.model.year}}</p>
              <hr>
              <h5 class="card-title user">Customer -
                <span class="fName">{{booking.user.f_name}}</span> <span class="lName">{{booking.user.l_name}}</span>
              </h5>
              <p class="card-text">
                @<span class="username">{{booking.user.username}}</span>
                / <span class="email">{{booking.user.email}}</span>
              </p>
              <hr>
              <p class="card-text">Start date: {{booking.start}}</p>
              <p class="card-text">End date: {{booking.end}}</p>
              <p class="card-text">Cost: ${{booking.car.cph}} per hour
              <br/><small class="text-muted">Total cost: ${{booking.cost}}</small></p>
              {% set status = {0: "Booked", 1: "Completed", 2: "Cancelled"}[ booking.completed]|default("Missing") -%}
              {% set badge_class = {0: "badge-info", 1: "badge-success", 2: "badge-dark"}[ booking.completed]|default("badge-info") -%}
              <h5><span style="position:absolute; top: 20px; right: 20px;" class="status-value badge {{badge_class}}">{{status}}</span></h5>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-center font-italic align-middle">No bookings found</h5>
          <p class="card-text text-center"><small>No booking history found in database</small></p>
        </div>
      </div>
    {% endif %}
  </div>
</body>

{% endblock %}
