{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
{% endblock %}}

{% block content %}
{% block javascript %}
  <script src="{{url_for('static', filename='scripts/manager.js')}}"></script>
  <script src="{{url_for('static', filename='scripts/Chart.js')}}"></script>
  <script src="{{url_for('static', filename='css/Chart.css')}}"></script>
{% endblock %}
{% with page="main", type="MANAGER"%}
{% include "employee/nav.html" %}
{% endwith %}
<body style="padding-top: 4.5rem">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card bg-light mb-4 employee">
          <div class="card-header">
            Profile
          </div>
          <div class="card-img-top d-flex justify-content-center" style="padding-top: 5px">
            <i class="fas fa-user fa-7x"></i>
          </div>
          <div class="card-body">
            <h5>{{user.f_name}} {{user.l_name}}</h5>
            <p class="mb-0">@{{user.username}}</p>
            <p class="mt-2 mb-0">{{user.email}}</p>
          </div>
        </div>
        <div class="card text-white bg-info mt-3 mt-md-3">
          <div class="card-body">
            <h5 class="card-title">$<span>60.909</span></h5>
            <p class="card-text">This month revenue</p>
          </div>
        </div>
        <div class="card text-white bg-info mt-3 mt-md-3">
          <div class="card-body">
            <h5 class="card-title">$<span>10.909</span></h5>
            <p class="card-text">This month profit</p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="card text-white bg-info mt-3 mt-md-0">
              <div class="card-body">
                <h5 class="card-title">+<span>5%</span></h5>
                <p class="card-text">Revenue compared to the previous month</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-success mt-3 mt-md-0">
              <div class="card-body">
                <h5 class="card-title">+<span>25%</span></h5>
                <p class="card-text">New users compared to the previous month</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-warning mt-3 mt-md-0">
              <div class="card-body">
                <h5 class="card-title">+<span>20%</span></h5>
                <p class="card-text">Booked trips compared to the previous month</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card bg-light mt-3 mt-md-3">
              <div class="card-header">New customers per week</div>
                <div class="card-body">
                  <canvas id="barChart" width="400" height="300"></canvas>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-light mt-3 mt-md-3">
                <div class="card-header">Cars status</div>
                <div class="card-body">
                  <canvas id="pieChart" width="300" height="200"></canvas>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card bg-light mt-3 mt-md-3">
              <div class="card-header">This month daily revenue</div>
              <div class="card-body">
                <canvas id="lineChart" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
{% endblock %}