{% extends "bootstrap/base.html" %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% block javascript %}
  <script src="{{ url_for('static', filename='scripts/booking.js')}}"></script>
{% endblock %}
{% with page="car", type="ADMIN"%}
{% include "employee/nav.html" %}
{% endwith %}
<body style="padding-top: 4.5rem">
{% if messages %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="position: absolute; top: 4.5rem; right: 0; z-index: 20;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{message.message}}</strong>
      <div>
        <small class="text-muted">{{message.data}}</small>
        {% if message.error %}
        <br><small class="text-muted"><i>{{message.error}}</i></small>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %}
  <div class="container">
    {% if attributes != None %}
      <div>
        <h5>Registered Vehicles</h5>
        <label class="mr-1">
          <div>Make</div>
          <select class="custom-select" name="make" id="make-filter" onchange="filter()">
            <option value="All" selected>All</option>
            {% for make in attributes['make'] %}
                <option value="{{ make }}">{{ make }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="mr-1">
          <div>Year</div>
          <select class="custom-select" name="year" id="year-filter" onchange="filter()">
            <option value="All" selected>All</option>
            {% for year in attributes['year'] %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="mr-1">
          <div>Colour</div>
          <select class="custom-select" name="colour" id="colour-filter" onchange="filter()">
            <option value="All" selected>All</option>
            {% for colour in attributes['colour'] %}
                <option value="{{ colour }}">{{ colour }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="mr-1">
          <div>Transmission</div>
          <select class="custom-select" name="transmission" id="transmission-filter" onchange="filter()">
            <option value="All" selected>All</option>
            {% for transmission in attributes['transmission'] %}
                <option value="{{ transmission }}">{{ transmission }}</option>
            {% endfor %}
          </select>
        </label>
        <label class="mr-1">
          <div>Capacity</div>
            <div class="slidecontainer">
              <button id="capacity-dropdown" class="dropbtn btn btn-default" onclick="capacityDropdown()"><span id="min-capacity">{{ attributes['capacity'] | min }}</span> to <span id="max-capacity">{{ attributes['capacity'] | max}}</span> People</button>
              <div id="select-capacity-container" class="dropdown-content">
                <select class="custom-select" name="capacity-min-select" id="capacity-filter-min" onchange="update_capacity_range()">
                  {% for capacity in attributes['capacity'] %}
                    {% if capacity == attributes['capacity'] | min %}
                      <option value="{{ capacity }}" selected>{{ capacity }}</option>
                    {% else %}
                      <option value="{{ capacity }}">{{ capacity }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <select class="custom-select" name="capacity-max-select" id="capacity-filter-max" onchange="update_capacity_range()">
                  {% for capacity in attributes['capacity'] %}
                    {% if capacity == attributes['capacity'] | max %}
                      <option value="{{ capacity }}" selected>{{ capacity }}</option>
                    {% else %}
                      <option value="{{ capacity }}">{{ capacity }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
        </label>
        <label class="mr-1">
          <div>Cost Per Hour</div>
            <div class="slidecontainer">
              <button id="cost-dropdown" class="dropbtn btn btn-default" onclick="costDropdown()">$<span id="min-cost">10</span> - $<span id="max-cost">100</span></button>
              <div id="select-cost-container" class="dropdown-content">
                <select class="custom-select" name="cost-min-select" id="cost-filter-min" onchange="update_cost_range()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                </select>
                <select class="custom-select" name="cost-max-select" id="cost-filter-max" onchange="update_cost_range()">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                  <option value="60">60</option>
                  <option value="70">70</option>
                  <option value="80">80</option>
                  <option value="90">90</option>
                  <option value="100" selected>100</option>
                </select>
              </div>
            </div>
        </label>
        <label class="mr-1">
          <div>Engine Capacity</div>
            <div class="slidecontainer">
              <button id="engine-capacity-dropdown" class="dropbtn btn btn-default" onclick="engineCapacityDropdown()">from <span id="min-engine-capacity">1</span> litres to <span id="max-engine-capacity">4</span> litres</button>
              <div id="select-engine-capacity-container" class="dropdown-content">
                <select class="custom-select" name="engine-capacity-min-select" id="engine-capacity-filter-min" onchange="update_engine_capacity_range()">
                  <option value="1" selected>1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <select class="custom-select" name="engine-capacity-max-select" id="engine-capacity-filter-max" onchange="update_engine_capacity_range()">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4" selected>4</option>
                </select>
              </div>
            </div>
        </label>
        <label class="mr-1">
          <div>Length</div>
            <div class="slidecontainer">
              <button id="length-dropdown" class="dropbtn btn btn-default" onclick="lengthDropdown()">from <span id="min-length">3</span> m to <span id="max-length">5</span> m</button>
              <div id="select-length-container" class="dropdown-content">
                <select class="custom-select" name="length-min-select" id="length-filter-min" onchange="update_length_range()">
                  <option value="3" selected>3</option>
                  <option value="3.5">3.5</option>
                  <option value="4">4</option>
                  <option value="4.5">4.5</option>
                  <option value="5">5</option>
                </select>
                <select class="custom-select" name="length-max-select" id="length-filter-max" onchange="update_length_range()">
                  <option value="3">3</option>
                  <option value="3.5">3.5</option>
                  <option value="4">4</option>
                  <option value="4.5">4.5</option>
                  <option value="5" selected>5</option>
                </select>
              </div>
            </div>
        </label>
        <label class="mr-1">
          <div>Weight</div>
            <div class="slidecontainer">
              <button id="weight-dropdown" class="dropbtn btn btn-default" onclick="weightDropdown()">from <span id="min-weight">950</span> kg to <span id="max-weight">2300</span> kg</button>
              <div id="select-weight-container" class="dropdown-content">
                <select class="custom-select" name="weight-min-select" id="weight-filter-min" onchange="update_weight_range()">
                  {% for i in range(1,29) %}
                    {% if i == 1 %}
                      <option value="{{ i * 50 + 900 }}" selected>{{ i * 50 + 900 }}</option>
                    {% else %}
                    <option value="{{ i * 50 + 900 }}">{{ i * 50 + 900 }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <select class="custom-select" name="weight-max-select" id="weight-filter-max" onchange="update_weight_range()">
                  {% for i in range(1,29) %}
                    {% if i == 28 %}
                      <option value="{{ i * 50 + 900 }}" selected>{{ i * 50 + 900 }}</option>
                    {% else %}
                    <option value="{{ i * 50 + 900 }}">{{ i * 50 + 900 }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
        </label>
        <label class="mr-1">
          <div>Clearance</div>
            <div class="slidecontainer">
              <button id="clearance-dropdown" class="dropbtn btn btn-default" onclick="clearanceDropdown()"><span id="min-clearance">100</span> - <span id="max-clearance">250</span></button>
              <div id="select-clearance-container" class="dropdown-content">
                <select class="custom-select" name="clearance-min-select" id="clearance-filter-min" onchange="update_clearance_range()">
                  {% for clearance in range(100,251) %}
                    {% if clearance == 100 %}
                      <option value="{{ clearance }}" selected>{{ clearance }}</option>
                    {% else %}
                      <option value="{{ clearance }}">{{ clearance }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <select class="custom-select" name="clearance-max-select" id="clearance-filter-max" onchange="update_clearance_range()">
                  {% for clearance in range(100,251) %}
                    {% if clearance == 250 %}
                      <option value="{{ clearance }}" selected>{{ clearance }}</option>
                    {% else %}
                      <option value="{{ clearance }}">{{ clearance }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
        </label>
        <label class="mr-1">
          <div>Load Index</div>
            <div class="slidecontainer">
              <button id="load-index-dropdown" class="dropbtn btn btn-default" onclick="loadIndexDropdown()"><span id="min-load-index">75</span> - <span id="max-load-index">100</span></button>
              <div id="select-load-index-container" class="dropdown-content">
                <select class="custom-select" name="load-index-min-select" id="load-index-filter-min" onchange="update_load_index_range()">
                  {% for load_index in range(75,101) %}
                    {% if load_index == 75 %}
                      <option value="{{ load_index }}" selected>{{ load_index }}</option>
                    {% else %}
                      <option value="{{ load_index }}">{{ load_index }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <select class="custom-select" name="load-index-max-select" id="load-index-filter-max" onchange="update_load_index_range()">
                  {% for load_index in range(75,101) %}
                    {% if load_index == 100 %}
                      <option value="{{ load_index }}" selected>{{ load_index }}</option>
                    {% else %}
                      <option value="{{ load_index }}">{{ load_index }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
        </label>
        <label class="mr-1">
          <div>Search</div>
            <div class="">
              <input class="form-control" type="search" placeholder="Search.." id="search-box" oninput="filter()">
            </div>
        </label>
      </div>
    {% endif %}
    {% if cars != None %}
      <div class="card-columns">
        {% for car in cars %}
          <div class="card bg-light mb-4 car">
            <div class="card-body">
              <h5 class="card-title make-value">{{car.model.make}}<br>{{car.model.model}}, {{car.model.year}}
                {% if car.repairs %}<span style="position:absolute; top: 20px; right: 20px;" class="type badge badge-warning text-light">in repair</span>{% endif %}
              </h5>
              <p class="card-text">Rego: <span class="rego-value">{{car.car_id}}</span></p>
              <p class="card-text capacity-value">Capacity: {{car.model.capacity}}</p>
              <p class="card-text colour-value">Colour: {{car.model.colour}}</p>
              <p class="card-text cost-value">Cost: ${{car.cph}} per hour</p>
              <a class="btn btn-secondary" data-toggle="collapse" href="#additionalDetails-{{car.car_id}}" role="button" aria-expanded="false" aria-controls="additionalDetails">Additional details</a>
              <div class="collapse" id="additionalDetails-{{car.car_id}}" style="position: absolute; z-index: 100;">
                <div class="card card-body">
                  <p class="card-text">Transmission: <span class="transmission-value">{{car.model.transmission}}</span></p>
                  <p class="card-text">Engine capacity: <span class="engine-value">{{car.model.engine_capacity}}</span> litres</p>
                  <p class="card-text">Length: <span class="length-value">{{car.model.length}}</span>m</p>
                  <p class="card-text">Weight: <span class="weight-value">{{car.model.weight}}</span>kg</p>
                  <p class="card-text">Clearance: <span class="clearance-value">{{car.model.ground_clearance}}</span>mm</p>
                  <p class="card-text">Load index: <span class="load-index-value">{{car.model.load_index}}</span></p>
                </div>
              </div>
              <hr>
              <form class="mt-1" action="/remove_car?car_id={{car.car_id}}" method="POST">
                  <a class="btn btn-primary text-light" href="/edit_car?car_id={{car.car_id}}">Update</a>
                  <a class="btn btn-warning text-light {% if car.repairs %}disabled{% endif %}"  href="/report_car?car_id={{car.car_id}}">Report</a>
                  <button type="submit" class="btn btn-danger text-light">Remove</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-center font-italic align-middle">No cars found</h5>
          <p class="card-text text-center"><small>No available cars found in database</small></p>
        </div>
      </div>
    {% endif %}
    <div class="row mb-3">
      <div class="col-md-3">
        <a class="btn btn-secondary" type="submit" href="/create_vehicle">Create new vehicle</a>
      </div>
    </div>
  </div>
</body>
{% endblock %}