{% extends "bootstrap/base.html" %}

{% block content %}
<!-- Source: bootstrap docs  -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">Welcome User</h1>
        <p class="lead">Please login with your existing details, or register now.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
