{% extends "bootstrap/base.html" %}

{% block content %}

{% with page="list"%}
{% include "nav.html" %}
{% endwith %}
<body style="padding-top: 4.5rem">
  <div class="container">
    <div class="card-columns">
    {% for car in cars %}
      <div class="card bg-light mb-4">
        <div class="card-body">
          <h5 class="card-title">{{car.model.make}} {{car.model.model}}, {{car.model.year}}</h5>
          <p class="card-text">Capcity: {{car.model.capacity}}</p>
          <p class="card-text">Colour: {{car.model.colour}}</p>
          <p class="card-text">Cost: ${{car.cph}} per hour</p>
          <a href="/book?id={{car.car_id}}" class="btn btn-primary">Book now</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</body>

{% endblock %}
