{% extends "bootstrap/base.html" %}

{% block content %}

{% with page="main"%}
{% include "nav.html" %}
{% endwith %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#fr_capture').bind('click', function() {
            $.getJSON('/capture_user?user_id={{user.email}}',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<script src="https://kit.fontawesome.com/6b539ad364.js" crossorigin="anonymous"></script>
<body style="padding-top: 4.5rem">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-light">
          <div class="card-header">
            Profile
          </div>
          <div class="card-img-top d-flex justify-content-center" style="padding-top: 5px">
            <i class="fas fa-user fa-7x"></i>
          </div>
          <div class="card-body">
            <h5>{{user.f_name}} {{user.l_name}}</h5>
            <p>{{user.email}}</p>
          </div>
        </div>
        <div class="card bg-light mt-3">
          <div class="card-header">
            Facial Recognition
          </div>
          <div class="card-body">
            {% if user.face_id == False %}
            <p class="card-text">Register for Facial Recogntion, used to unlock booked cars.</p>
            <form action="/capture_user?user_id={{user.email}}" class="form-signup" method="POST">
              <button type="submit" class="btn btn-primary" name="submit">Book now</button>
            </form>
<!--            <a href="#" id="fr_capture" class="btn btn-primary">Register Now</a>-->
            {% else %}
            <small><i>Facial Recognition registration completed</i></small>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card bg-light mt-3 mt-md-0">
          <div class="card-header">
            Map
          </div>
          <div class="card-body">
            <p>TBC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- where do all car locations get displayed?? -->
</body>
{% endblock %}
