{% block content %}
<!-- source: bootstrap docs -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/main">MP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarToggler" aria-controls="navbarToggler"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item {{'active' if page == 'history'}}">
        <a class="nav-link" href="/history">Booking History</a>
      </li>
      <li class="nav-item {{'active' if page == 'book'}}">
        <a class="nav-link" href="/book">Make Booking</a>
      </li>
      <li class="nav-item {{'active' if page == 'cancel'}}">
        <a class="nav-link" href="/cancel">Cancel Booking</a>
      </li>
	  <li class="nav-item {{'active' if page == 'map'}}">
        <a class="nav-link" href="/map">Car Locations</a>
      </li>
      <li class="nav-item {{'active' if page == 'search'}}">
        <a class="nav-link" href="/search">Car Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('site.logout') }}" tabindex="-1" aria-disabled="true">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
