{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<!-- Source: bootstrap docs  -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">User Registration</h1>
        <p class="lead">Please enter your details in order to create an account.</p>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="form-signin" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.first_name)}}
          </div>
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.last_name)}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.email)}}
          </div>
          <div class="form-group col-md-6">
            {{ wtf.form_field(form.password)}}
            <small id="passwordHelpBlock" class="form-text text-muted">
              Your password must be [conditionsTBC].
            </small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
