{% extends "bootstrap/base.html" %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
{% block javascript %}
  <script src="{{ url_for('static', filename='scripts/search.js')}}"></script>
{% endblock %}
{% with page="search"%}
{% include "nav.html" %}
{% endwith %}
    <body style="padding-top: 4.5rem">
      <div class="container">
        {% if attributes != None %}
          <div>
            <h3>Filter cars</h3>
            <label>
              <div>Make</div>
              <select class="custom-select" name="make" id="make-filter" onchange="filter()">
                <option value="All" selected>All</option>
                {% for make in attributes['make'] %}
                    <option value="{{ make }}">{{ make }}</option>
                {% endfor %}
              </select>
            </label>
            <label>
              <div>Year</div>
              <select class="custom-select" name="year" id="year-filter" onchange="filter()">
                <option value="All" selected>All</option>
                {% for year in attributes['year'] %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
              </select>
            </label>
            <label>
              <div>Colour</div>
              <select class="custom-select" name="colour" id="colour-filter" onchange="filter()">
                <option value="All" selected>All</option>
                {% for colour in attributes['colour'] %}
                    <option value="{{ colour }}">{{ colour }}</option>
                {% endfor %}
              </select>
            </label>
            <label>
              <div>Search</div>
                <div class="">
                  <input class="form-control" type="search" placeholder="Search.." id="search-box" oninput="filter()">
                </div>
            </label>
            <label>
              <div>Capacity</div>
                <div class="slidecontainer">
                  <button id="capacity-dropdown" class="dropbtn btn btn-default" onclick="capacityDropdown()"><span id="min-capacity">{{ attributes['capacity'] | min }}</span> to <span id="max-capacity">{{ attributes['capacity'] | max}}</span> People</button>
                  <div id="select-capacity-container" class="dropdown-content">
                    <select class="custom-select" name="capacity-min-select" id="capacity-filter-min" onchange="update_capacity_range()">
                      {% for capacity in attributes['capacity'] %}
                        {% if capacity == attributes['capacity'] | min %}
                          <option value="{{ capacity }}" selected>{{ capacity }}</option>
                        {% else %}
                          <option value="{{ capacity }}">{{ capacity }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <select class="custom-select" name="capacity-max-select" id="capacity-filter-max" onchange="update_capacity_range()">
                      {% for capacity in attributes['capacity'] %}
                        {% if capacity == attributes['capacity'] | max %}
                          <option value="{{ capacity }}" selected>{{ capacity }}</option>
                        {% else %}
                          <option value="{{ capacity }}">{{ capacity }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
            </label>
            <label>
              <div>Cost</div>
                <div class="slidecontainer">
                  <button id="cost-dropdown" class="dropbtn btn btn-default" onclick="costDropdown()">$<span id="min-cost">10</span> - $<span id="max-cost">100</span></button>
                  <div id="select-cost-container" class="dropdown-content">
                    <select class="custom-select" name="cost-min-select" id="cost-filter-min" onchange="update_cost_range()">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                        <option value="80">80</option>
                        <option value="90">90</option>
                        <option value="100">100</option>
                    </select>
                    <select class="custom-select" name="cost-max-select" id="cost-filter-max" onchange="update_cost_range()">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                      <option value="60">60</option>
                      <option value="70">70</option>
                      <option value="80">80</option>
                      <option value="90">90</option>
                      <option value="100" selected>100</option>
                    </select>
                  </div>
                </div>
            </label>
          </div>
        {% endif %}
        {% if cars != None %}
          <div class="card-columns">
            {% for car in cars %}
              <div class="card bg-light mb-4 car">
                <div class="card-body">
                  <h5 class="card-title make-value">{{car.model.make}} {{car.model.model}}, {{car.model.year}}</h5>
                  <p class="card-text capacity-value">Capcity: {{car.model.capacity}}</p>
                  <p class="card-text colour-value">Colour: {{car.model.colour}}</p>
                  <p class="card-text cost-value">Cost: ${{car.cph}} per hour</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title text-center font-italic align-middle">No cars found</h5>
              <p class="card-text text-center"><small>No available cars found in database</small></p>
            </div>
          </div>
        {% endif %}
      </div>
    </body>
{% endblock %}